:root {
    --mbl-sm: 320px;
    --mbl-md: 376px;
    --mbl-lg: 450px;
    --tablet: 768px;
    --laptop: 1024px;
    --laptop-lg: 1440px;
}

/* moblie small */

@media only screen and (min-width:320px) and (max-width:360px) {
    * {
        margin: 0;
        padding: 0;
    }
.go_top{
display:none;}
    .loader {
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    span.dot {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .loader .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        transform: translate(-50%, -50%);
    }
}

/* mobile medium */

@media only screen and (max-width:376px) {
    * {
        margin: 0;
        padding: 0;
    }
.go_top{
display:none;}
    body {
        overflow-x: hidden;
    }
    .loader {
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    span.dot {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .loader .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        transform: translate(-50%, -50%);
    }
    /* main */
    .main {
        background: var(--blue);
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100vw;
    }
    .top_1 {
        width: 50%;
        height: 400px;
    }
    .top_2 {
        width: 50%;
        height: 400px;
    }
    section.navbar {
        position: fixed;
        display: none;
        right: 0px;
        background: crimson;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
    }
    .top_2 .button_holder {
        display: none;
    }
    /* .top_2 {
        display: none;
    } */
    .top_txt_holder p.mn {
        font-size: 12px;
        color: rgb(13, 13, 14);
        font-family: Sf Mono Regular;
    }
    .top_txt_holder {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        margin: 10px;
    }
    .top_txt_holder p {
        color: #2f2f2f;
        font-family: 'Sf Mono Bold';
        line-height: 40px;
        /* font-weight: bolder; */
        letter-spacing: 1.2px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    /* .top_2 {
        display: none;
    } */
    #coding_img {
        display: none;
    }
    /* about_section */
    section.about_section {
        /* height: 200px; */
    }
    .abt-1 {
        width: 100%;
    }
    .abt_img_holder {
        height: 200px;
    }
    #abt_sec_img {
        /* display: none; */
    }
    section.abt_info {
        margin-top: 0px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .abt_info .main_p {
        width: 100%;
    }
    .abt_info .main_p p {
        font-size: 10px;
        text-align: center;
    }
    .abt_info .main_h1 {
        width: 100%;
        clear: left;
    }
    .abt_info .main_h1 footer {
        height: 5px;
        width: 50px;
        margin-left: 0;
        margin-top: 10px;
    }
    .abt_info .main_h1 p {
        font-size: 1rem;
    }
    .abt-2 {
        display: none;
    }
    .navbar2 {
        display: none;
    }
    /* Skills section */
    .my_works {
        flex-direction: column;
    }
    h1.wr_h1 {
        font-size: 1.2rem;
    }
    .works {
        width: 100%;
    }
    .works_head footer {
        width: 60px;
        height: 8px;
    }
    .skills {
        display: none;
    }
    .skill_img {
        width: 100px;
        height: 100px;
    }
    .skill_h1 {
        font-size: 1.2rem;
    }
    .progressbar_holder {
        width: 80%;
        border-radius: 5px;
    }
    .progressbar {
        margin: 5px;
    }
    .p1 {
        margin: 0;
    }
    #exp {
        font-size: 12px;
    }
    .mbl_skill_nav {
        display: block;
        margin-top: 10px;
    }
    .mbl_skill_nav .skill_nav {
        /* list-style: none; */
        display: flex;
        justify-content: space-evenly;
    }
    .mbl_skill_nav ul li {
        list-style: none;
        line-height: 30px;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        /* background: white; */
        display: inline-block;
        font-size: 12px;
        color: white;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms;
    }
    .mbl_skill_nav ul li:hover {
        background: white;
        color: #1d83ff;
    }
    .frameworks h1 {
        font-size: 1rem;
    }
    /* services */
    .services {
        height: auto;
    }
    .src_h1 {
        font-size: 1.3rem;
    }
    .srvice_info {
        flex-direction: column;
        height: auto;
    }
    .service_items {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .icon_holder {
        margin-top: 20px;
    }
    .info h1 {
        font-size: 1rem;
    }
    .info p {
        font-size: 12px;
    }
    /* Contact */
    .contact {
        flex-direction: column-reverse;
    }
    .lets_wrk {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5px;
        clear: right;
    }
    .wrk {
        font-size: 3rem;
    }
    .lets_wrk footer {
        width: 80px;
        height: 5px;
    }
    .details {
        width: 100%;
        clear: left;
        height: auto;
    }
}

/* mobile large */

@media only screen and (min-width:350px) and (max-width:700px) {
    * {
        margin: 0;
        padding: 0;
    }
.go_top{
display:none;}
    body {
        overflow-x: hidden;
    }
    .loader {
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    span.dot {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .loader .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        transform: translate(-50%, -50%);
    }
    /* main */
    .main {
        background: var(--blue);
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100vw;
    }
    .top_1 {
        width: 50%;
        height: 400px;
    }
    .top_2 {
        width: 50%;
        height: 400px;
    }
    section.navbar {
        position: fixed;
        display: none;
        right: 0px;
        background: crimson;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
    }
    .top_2 .button_holder {
        display: none;
    }
    /* .top_2 {
              display: none;
          } */
    .top_txt_holder p.mn {
        font-size: 12px;
        color: rgb(13, 13, 14);
        font-family: Sf Mono Regular;
    }
    .top_txt_holder {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        margin: 10px;
    }
    .top_txt_holder p {
        color: #2f2f2f;
        font-family: 'Sf Mono Bold';
        line-height: 40px;
        /* font-weight: bolder; */
        letter-spacing: 1.2px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    /* .top_2 {
              display: none;
          } */
    #coding_img {
        display: none;
    }
    /* about_section */
    section.about_section {
        /* height: 200px; */
    }
    .abt-1 {
        width: 100%;
    }
    .abt_img_holder {
        height: 200px;
    }
    #abt_sec_img {
        /* display: none; */
    }
    section.abt_info {
        margin-top: 0px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .abt_info .main_p {
        width: 100%;
    }
    .abt_info .main_p p {
        font-size: 10px;
        text-align: center;
    }
    .abt_info .main_h1 {
        width: 100%;
        clear: left;
    }
    .abt_info .main_h1 footer {
        height: 5px;
        width: 50px;
        margin-left: 0;
        margin-top: 10px;
    }
    .abt_info .main_h1 p {
        font-size: 1rem;
    }
    .abt-2 {
        display: none;
    }
    .navbar2 {
        display: none;
    }
    /* Skills section */
    .my_works {
        flex-direction: column;
    }
    h1.wr_h1 {
        font-size: 1.2rem;
    }
    .works {
        width: 100%;
    }
    .works_head footer {
        width: 60px;
        height: 8px;
    }
    .skills {
        display: none;
    }
    .skill_img {
        width: 100px;
        height: 100px;
    }
    .skill_h1 {
        font-size: 1.2rem;
    }
    .progressbar_holder {
        width: 80%;
        border-radius: 5px;
    }
    .progressbar {
        margin: 5px;
    }
    .p1 {
        margin: 0;
    }
    #exp {
        font-size: 12px;
    }
    .mbl_skill_nav {
        display: block;
        margin-top: 10px;
    }
    .mbl_skill_nav .skill_nav {
        /* list-style: none; */
        display: flex;
        justify-content: space-evenly;
    }
    .mbl_skill_nav ul li {
        list-style: none;
        line-height: 30px;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        /* background: white; */
        display: inline-block;
        font-size: 12px;
        color: white;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms;
    }
    .mbl_skill_nav ul li:hover {
        background: white;
        color: #1d83ff;
    }
    .frameworks h1 {
        font-size: 1rem;
    }
    /* services */
    .services {
        height: auto;
    }
    .src_h1 {
        font-size: 1.3rem;
    }
    .srvice_info {
        flex-direction: column;
        height: auto;
    }
    .service_items {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .icon_holder {
        margin-top: 20px;
    }
    .info h1 {
        font-size: 1rem;
    }
    .info p {
        font-size: 12px;
    }
    /* Contact */
    .contact {
        flex-direction: column-reverse;
    }
    .lets_wrk {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5px;
        clear: right;
    }
    .wrk {
        font-size: 3rem;
    }
    .lets_wrk footer {
        width: 80px;
        height: 5px;
    }
    .details {
        width: 100%;
        clear: left;
        height: auto;
    }
}

/* tablet  */

@media only screen and (max-width:600px) {
    .loader {
        width: 100%;
        height: 100vh;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }.go_top{
display:none;}

    span.dot {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .loader .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        transform: translate(-50%, -50%);
    }
}

/* tab  */

@media only screen and (min-width:700px) and (max-width:1000px) {
    * {
        padding: 0;
        margin: 0;
    }
.go_top{
display:none;}
    body {
        overflow-x: hidden;
    }
    .main {
        height: 600px;
    }
    .in {
        font-size: 2rem;
    }
    .image_holder {
        height: 50vh;
        width: 65vh;
    }
    .top_2 .button_holder {
        font-size: 12px;
        width: 150px;
        height: 40px;
    }
    section.navbar ul li a {
        font-size: 12px;
    }
    section.navbar2 ul li a {
        font-size: 12px;
    }
    .abt-2 {
        width: 20%;
    }
    .abt-1 {
        width: 80%;
    }
    .abt_1 .main_p {
        width: 60%;
    }
    #About>div.abt-1>section>div.main_p>p {
        font-size: 12px;
        text-align: center;
    }
    .abt_1 .main_h1 {
        width: 40%;
    }
    #About>div.abt-1>section>div.main_h1>p {
        font-size: 2rem;
    }
    #About>div.abt-1>section>div.main_h1>footer {
        width: 90px;
        margin-left: 1px;
    }
    .progressbar_holder {
        width:60% ;
    }
    .info h1 {
        font-size:1.2rem;
    }
    .info p {
        font-size: 13px;
    }
    .wrk {
        font-size: 4rem;
    }
    .skill_nav ul li {
        font-size: 12px;
    }
}

/* Laptop Large */

@media only screen and (max-width:1440px) {}
