
:root{
    /* gradiants */
    --backg: linear-gradient(#265E76,#E8F3FC);
    /* text: */
    --bold_black : #041A32 ;
    --bold_light:#E8F3FC;
    --small_text_back:#4FADF9;
    --small_text_light:#265E76;
    
    /* background: */
     --light_fill : #E8F3FC;
     --bold_fill : #002F56;
     --semiLight_fill :#C7E6FF;
     --box-shadow:20px 20px 60px #c5cfd6,
     -20px -20px 60px #fff
;
    }

    @font-face {
        font-family:manrope ;
        src: url(fonts/Manrope/static/Manrope-Regular.ttf);
    }
    
    @font-face {
        font-family:manrope_medium ;
        src: url(fonts/Manrope/static/Manrope-Medium.ttf);
    }
        
    @font-face {
        font-family:manrope_semibold ;
        src: url(fonts/Manrope/static/Manrope-SemiBold.ttf);
    }
        
    @font-face {
        font-family:manrope_bold ;
        src: url(fonts/Manrope/static/Manrope-Bold.ttf);
    }
    *{
        margin:0;
        padding: 0;
        font-family: manrope;
        color: #002F56;
    }
    body{
    background: var(--semiLight_fill);

    }
html{
    scroll-behavior: smooth;
}
.main{
    position: relative;
    overflow-x:hidden;
}
.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 60vh;
    height: 60vh;
    background-image: url(nature_1.svg),-o-linear-gradient(158deg,#265E76 19%,#E8F3FC 49%);
    background-image: url(nature_1.svg),linear-gradient(292deg,#265E76 19%,#E8F3FC 49%);
    background-position: 113% 110%,center ;
    background-repeat: no-repeat;
    background-size: 67% 90% ,contain;
}
.logo_container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.logo_name{
    color: var(--bold_black);
    font-family: manrope_semibold;
    text-transform: uppercase;
    margin-left: 1rem;
}
div{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex
}
.service{
    width: 100%;
    background: #002F56;
    padding-bottom: 20%;
}
.logo_container{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #E8F3FC;
    border-radius: 50%;
    -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5) ,
    -6px -6px 20px  #fff
    ;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5) ,
    -6px -6px 20px  #fff
    ;
}
.top
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    /* padding: 10px 25px ; */
    height: 20%;
}
.logo{
    float: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.menu{
    float: right;
}
.hero {
    position: relative;
    height: 80%;
    width: 100%;
}
.leaf {
    position: absolute;
    left: -4%;
    top: 50px;
    width: 400px;
    height: 400px;
    -webkit-transform: rotate(169deg);
        -ms-transform: rotate(169deg);
            transform: rotate(169deg);
    /* filter: invert(0%) sepia(0%) saturate(7450%) hue-rotate(190deg) brightness(92%) contrast(99%); */
}
.hero{
    /* justify-content: center; */
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.heading{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10rem;
    width: 40%;
    margin-top: 5rem;
}
.heading h3 {
    color: var(--bold_black);
    font-size: 3rem;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-family: manrope_bold;
}
.heading p
{
    color: var(--small_text_light);
    font-family: manrope_medium;
    text-align: center;
    text-transform: capitalize;
}
.button{
    margin-left: 21rem;
    margin-top: 3rem;
    background: -o-linear-gradient(305deg,#f8ffff,#d1dbe3);
    background: linear-gradient(145deg,#f8ffff,#d1dbe3);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
    border-radius: 40px ;
    color: var(--small_text_light);
    -webkit-box-shadow: 7px 7px 15px #a3bdd1,
    -7px -7px 15px #ebffff;
            box-shadow: 7px 7px 15px #a3bdd1,
    -7px -7px 15px #ebffff;
    cursor: pointer;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.button:hover{
    -webkit-box-shadow: 6px 6px 20px #fff ,
    inset -6px -6px 20px   rgba(0, 0, 0, 0.5);
            box-shadow: 6px 6px 20px #fff ,
    inset -6px -6px 20px   rgba(0, 0, 0, 0.5) 
}
.button p {
    font-size:14px;
    margin: 0 10px;
    font-family: manrope_medium;
    color: var(--small_text_light);
    text-align: center;
    line-height: 40px;
}
.icon {
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--bold_black);
    border-radius: 50%;
    margin-left: 5px;
    -webkit-box-shadow: 7px 7px 15px #a3bdd1,
    -7px -7px 15px #ebffff;
            box-shadow: 7px 7px 15px #a3bdd1,
    -7px -7px 15px #ebffff;

}
.icon img {
    color: var(--bold_light);
}
.service_head{
    width: 100%;
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9;
            flex: 0.9;
    
}
.service_head{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.service_head h3 {
    color: var(--bold_light);
    font-family: manrope_bold;
    font-size: 2rem;
    margin: 3.5rem 0 0.8rem 4rem;
    text-transform: uppercase;
}
.service_head span{
    width: 100px;
    margin-left: 4rem;
    height: 10px;
    background: var(--bold_light);
}
.services{
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 0px 40px;
    /* width: ; */
}
.l{
    margin-top: 4rem;
    width: 33.33%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px 20px;
    /* background: var(--bold_light); */
}
.serve_logo{
    width: 100px;
    height: 100px;
    background: -o-linear-gradient(305deg, #002a4d,#00325c);
    background: linear-gradient(145deg, #002a4d,#00325c);
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow:6px 6px 10px  #001322,inset -6px -6px 10px #004b8a;
            box-shadow:6px 6px 10px  #001322,inset -6px -6px 10px #004b8a;
}
.serve_logo img{
    width: 50%;
    height: 50%;
}
.l h2,p {
    color: var(--bold_light);
}

.l h2 {
    font-family: manrope_semibold;
    text-transform: capitalize;
    margin: 10px 0 20px 0;
}
.l p {
    color: var(--small_text_back);
    font-size: 14px;
    margin-top: 40px;
}
.Me {
    padding:0 0 20% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: var(--semiLight_fill);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.me_head h3 {
    color: var(--bold_black);
}
.me_head span {
    background: var(--bold_black);
    /* width: 30px; */
}

.page{
    margin:4rem;
}
.page p {
    color: var(--small_text_light);
    line-height: 30px;

}
.info{
    width: 50%;
}
.illu{
    width: 50%;
    height: 60vh;
}
.illu img {
    width:100%;
    height: 100%;
    margin-top: 10%;
}
.ciclegraph {
    position: relative;
  width: 500px;
  height: 500px;
  margin: calc(100px / 2 + 0px);
}



.ciclegraph .circle {
	position: absolute;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	top: 50%; left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  width: 100px;
  height: 100px;
  margin: calc( -100px / 2 );
  background: -o-linear-gradient(305deg,#00325c,#002a4d);
  background: linear-gradient(145deg,#00325c,#002a4d);
  border-radius: 50%;
  /* transform: translate(-50%,-50%); */
  -webkit-transition:  all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition:  all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:  all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
  -webkit-box-shadow: 11px 11px 22px #001e37, -11px -11px 22px #004075;
          box-shadow: 11px 11px 22px #001e37, -11px -11px 22px #004075;
}
.ciclegraph .center{
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
}

.skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--bold_fill);
}
.skills_list{
    margin: 40px 0;
}
.circle p {
    text-transform: capitalize;
    font-family: manrope_semibold;
}
.path-1,.path-2{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    z-index: 0;
}
.kishan{
    width: 100%;
    height: 100%;
    z-index: 22;
}
.path-1{
    -webkit-transform: translate(-77%,-50%);
        -ms-transform: translate(-77%,-50%);
            transform: translate(-77%,-50%);
}
.path-2{
    -webkit-transform: translate(-29%,-36%);
        -ms-transform: translate(-29%,-36%);
            transform: translate(-29%,-36%);

}
.progress{
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: var(--light_fill) ;

}
.progress_inner{
    position: absolute;
    top: 0;
    left: 0;
    background:cyan;
    width: 50%;
    height: 100%;
}
.contact{
    width: 100%;
    min-height: 100vh;
    background: url(images/musicOP.svg), var(--semiLight_fill);
    background-position: 311px 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills{
    padding-bottom: 40px;
}
.contact{
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* background: var(--semiLight_fill); */

}
.contact_head{
    height:auto !important;-webkit-box-flex: 0;-ms-flex: 0;flex: 0;

}
.form_container{
    width: 100%;
    height:auto ;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.form{
  width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.fMain{
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 margin-top: 5rem;
 width: 400px;
 padding: 20px;
 background: var(--semiLight_fill);
 border-radius: 10px;
 -webkit-box-shadow: 7px 7px 15px #a3bdd1,
            -7px -7px 15px #ebffff;
         box-shadow: 7px 7px 15px #a3bdd1,
            -7px -7px 15px #ebffff;
}
.social{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    }
.s_icon{
    background: var(--semiLight_fill);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    -webkit-box-shadow: 7px 7px 15px #a3bdd1,
            -7px -7px 15px #ebffff;
            box-shadow: 7px 7px 15px #a3bdd1,
            -7px -7px 15px #ebffff;
            cursor: pointer;
            -webkit-transition: 500ms;
            -o-transition: 500ms;
            transition: 500ms;
}
.s_icon:hover{
    -webkit-box-shadow: inset 7px 7px 15px #a3bdd1,
    inset -7px -7px 15px #ebffff
;
            box-shadow: inset 7px 7px 15px #a3bdd1,
    inset -7px -7px 15px #ebffff
;
}
.s_icon img{
    width: 50%;
    height: 50%;
    
    
}
#intro{
    height: 50px;
    margin-bottom: 20px;
}
.lets{
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.lets h1 {
    font-size: 4rem;
    margin-top: 3rem;
    font-family: manrope_bold;
    color: var(--bold_light);
}
input[type='text']{
    outline: none;
    width: 90%;
    border: none;
    background: var(--semiLight_fill);
    -webkit-box-shadow: inset 7px 7px 15px #a3bdd1,
                inset -7px -7px 15px #ebffff
    ;
            box-shadow: inset 7px 7px 15px #a3bdd1,
                inset -7px -7px 15px #ebffff
    ;
    border-radius: 10px;
    margin: 1rem 2.5rem;
}
::-webkit-input-placeholder{
    font-family: manrope;
    padding-left:  10px;
    text-transform: capitalize;
}
::-moz-placeholder{
    font-family: manrope;
    padding-left:  10px;
    text-transform: capitalize;
}
:-ms-input-placeholder{
    font-family: manrope;
    padding-left:  10px;
    text-transform: capitalize;
}
::-ms-input-placeholder{
    font-family: manrope;
    padding-left:  10px;
    text-transform: capitalize;
}
::placeholder{
    font-family: manrope;
    padding-left:  10px;
    text-transform: capitalize;
}
.inputs{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.email{
    height: 50px;
}
.text{
    height:150px;
}
.contact_button{
    margin: 0;
    width: 150px;
    background: var(--semiLight_fill);
    margin-top: 10px;
}